In [1]:
Result = float('5.7')
print(Result)

5.7

In [7]:
x = 3

y = '5'

result = x + y 
print(result)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [3]:
str(42)

'42'

In [4]:
a = [1, 2, 3] 

b = a 

b[0] = 5 

print(a)

[5, 2, 3]

In [5]:
my_list = [10, 20, 30]
print(len(my_list))

3

In [12]:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [20]:
for i in range(5):

    if i == 3:
        break

    print(i)

0
1
2

In [23]:
for i in range(5):
    if i == 2:
        continue
    print(i)

0
1
3
4

In [24]:
for i in range(5):

    if i == 2:

        pass

    else:

        print(i)

0
1
3
4

In [28]:
input_string = "Python is awesome!"
reversed_string = ""

for char in input_string:
    reversed_string = char + reversed_string

print("Reversed string:",reversed_string)

Reversed string: !emosewa si nohtyP

In [29]:
x = "my name is ekta"
y = ""

for char in x:
    y = char + y

print("reversed name:",y)

reversed name: atke si eman ym

In [31]:
n = 5

for i in range(1, n + 1):

    for j in range(n - i):

        print(" ", end="")

    for k in range(2 * i - 1):

        print("*", end="")​
    print()

for i in range(n - 1, 0, -1):

    for j in range(n - i):

        print(" ", end="")

    for k in range(2 * i - 1):

        print("*", end="")

    print()

SyntaxError: invalid non-printable character U+200B (3015817733.py, line 11)

In [34]:
n = 5

# Upper part of the diamond
for i in range(1, n + 1):
    for j in range(n - i):
        print(" ", end="")  # Print spaces for alignment
    for k in range(2 * i - 1):
        print("*", end="")  # Print asterisks
    print()  # Move to the next line

# Lower part of the diamond
for i in range(n - 1, 0, -1):
    for j in range(n - i):
        print(" ", end="")  # Print spaces for alignment
    for k in range(2 * i - 1):
        print("*", end="")  # Print asterisks
    print()  # Move to the next line

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [43]:
total_items = 0

print("Welcome to the grocery store!")

while True:
    item_quantity = int(input("Enter the quantity of the item (enter 0 to finish): "))
    
    if item_quantity == 0:
        break  # Exit the loop if the customer is done
    
    total_items += item_quantity

print(f"\nTotal number of items: {total_items}")

print("Thank you for shopping with us!")

Welcome to the grocery store!

ValueError: invalid literal for int() with base 10: ''

In [49]:
def calculate_total_price(item_prices,item_quantity):
    total = 0
    for prices,quantities in zip(item_prices,item_quantity):
        total += prices*quantities 
    return total       

prices = [10.99,5.49,2.99]
quantities = [3,2,4]
total_price = calculate_total_price(prices,quantities)

print (f"The total price $:{total_price:.2f}")

The total price $:55.91

In [50]:
data = [1,2,3,4,5,6]

def custom_trasformation (data):
    transformed_data = []
        







result = custom_transformation (data)

NameError: name 'custom_transformation' is not defined

In [51]:
x = 10 

y = 5 

result = x % y 

print(result)

0

In [52]:
for i in range(5): 

 print(i)

0
1
2
3
4

In [53]:
def add_numbers(a, b=5): 

 return a + b 

result = add_numbers(3) 

print(result)

8

In [60]:
class person:
    def __init__(self,name,age):
        self.name = name
        self.age = age

person = person("john",30)

print(person.name)
print(person.age)

john
30

In [61]:
def multiply_by_two(x): 

 return x * 2 

result = multiply_by_two(5) 

print(result)

10

In [63]:
add = lambda x , y : x+y 

print(add(3,5))

8

In [66]:
multiply = lambda x,y : x*y

print(multiply(3,4))

12

In [69]:
def my_function():
    local_var = 10  # This variable is local to my_function
    print(local_var)

my_function()
# print(local_var)

10

In [70]:
def outer_function(x):
    def inner_function(y):
        return x + y  # Inner function uses x from the outer function
    return inner_function  # Return the inner function

closure = outer_function(10)  # closure is now a function that adds 10
result = closure(5)  # Calls inner_function with y=5
print(result)

15

In [72]:
numbers = [1, 2, 3, 4, 5] 

for num in numbers: 

    if num % 2 == 0: 
        print(num, end=" " )

2 4

In [75]:
x = 2
y = (3+5)

result = x*5

print(result)

10

In [76]:
result = 2*(3+5)

print(result)

16

In [78]:
my_list = [1, 2, 3]
my_list.append(4)

print(my_list)

[1, 2, 3, 4]

In [91]:
name = ("ekta nakrani")

print(name.isalpha())

False

In [109]:
name = ("ektanakrani")

print(name.split('a'))

TypeError: str.upper() takes no arguments (1 given)

In [2]:
word = 'ekta nakrani'
first_part = word[:4]
second_part = word[4:]

result = first_part + ' ' + second_part 
print(result)

ekta  nakrani

In [3]:
word = 'ekta nakrani'

word_captitalize = word.capitalize()

print(word_captitalize)

Ekta nakrani

In [4]:
word = 'ekta nakrani'

word_captitalize = word.capitalize()

print(word_captitalize)

Ekta nakrani

In [5]:
fruits = ['apple','banana','cherry']

print(fruits[1])

banana

In [6]:
a = 10
b = 5

result = a+b

print(result)

15

In [7]:
x = 6

if x>5:
    print('Hello')

Hello

In [10]:
def greet():
    print("welecome!")


greet()

welecome!

In [13]:
x = 6

print(type(x))

<class 'int'>

In [15]:
for i in range (1 ,11):

    print(i)

1
2
3
4
5
6
7
8
9
10