In [10]:
student_names = ["Alice", "Bob", "Charlie", "David", "Emma"]
scores = [75, 92, 80, 88, 95]

highest_scores = max(scores)
print(f"Highest score in the class:{highest_scores}")

average_scores = sum(scores) / len(scores)
print(f"Average score in the class:{average_scores:.2f}")

threshold = 80
above_threshold = [name for name,scores in zip(student_names,scores)if scores>=threshold]
print(f"Students scoring above {threshold}:{above_threshold}")

sorted_names = sorted(student_names)
print(f"Students name in Alphabetical order:{sorted_names}")

Highest score in the class:95
Average score in the class:86.00
Students scoring above 80:['Bob', 'Charlie', 'David', 'Emma']
Students name in Alphabetical order:['Alice', 'Bob', 'Charlie', 'David', 'Emma']

In [13]:
squares = [x**2 for x in range(1,11)]
cubes = [x**3 for x in range(1,11)]

print(squares)
print(cubes)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [14]:
fifth_tower = [x**5 for x in range(5,9)]
print(fifth_tower)

[3125, 7776, 16807, 32768]

In [20]:
numbers = [-5,3,-8,10,-2,7,-1,6]

positive_numbers = [num for num in numbers if num > 0]
print("Original Numbers:", numbers)
print("Positive numbers:",positive_numbers)

Original Numbers: [-5, 3, -8, 10, -2, 7, -1, 6]
Positive numbers: [3, 10, 7, 6]

In [24]:
# Sample list of student names
student_names = [ "Bob", "Charlie", "Emma","Alice", "David"]

sorted_names = sorted(student_names)
print("Original Students name:",student_names)
print("Sorted Students names:",sorted_names)

Original Students name: ['Bob', 'Charlie', 'Emma', 'Alice', 'David']
Sorted Students names: ['Alice', 'Bob', 'Charlie', 'David', 'Emma']

In [43]:
employees = []

def add_employee(employee_id , name , salary):
    employee = (employee_id , name , salary)
    employees.append(employee)
    # print(f"Employee {name} added successfully!")

def calculate_total_salary():
    # print("employees",employees)
    total_salary = sum(employee[2] for employee in employees)
    return total_salary

"""
yaha pe function call nhi hua hai add_employee to saare value blank hoga"""

# print("Before function call")
total_salary = calculate_total_salary()
print(f"Total salary of all employees: ${total_salary}")    

add_employee(1, "John Doe", 50000)
add_employee(2, "Jane Smith", 60000)
add_employee(3, "Alice Johnson", 55000)


"""yaha pe function ho gaya h employees list ke andar data aaya h function call karne ke baad"""

# print("After add emoployee function call")
total_salary = calculate_total_salary()
print(f"Total salary of all employees: ${total_salary}")

Total salary of all employees: $0
Total salary of all employees: $165000

In [34]:
# by default agar value nhi h to vo 0 value lega

In [56]:
employees = []

def add_employee(employee_id , name , salary):
    employee = (employee_id , name , salary)
    employees.append(employee)
    print(f"Employee {name} added successfully!")

def calculate_total_salary():
    total_salary = sum(employee[2] for employee in employees)
    return total_salary

def find_highest_salary():
    if not employees:
        return None
    highest_paid_salary = max(employees,key=lambda employee:employee[2])
    return highest_paid_salary

add_employee(1, "John Doe", 50000)
add_employee(2, "Jane Smith", 60000)
add_employee(3, "Alice Johnson", 55000)

print(f"Total salary of all employees: ${total_salary}")

highest_paid = find_highest_salary()
if highest_paid:
    print(f"The employee with the highest salary is:{highest_paid[1]} with a salary of {highest_paid[2]}")

Employee John Doe added successfully!
Employee Jane Smith added successfully!
Employee Alice Johnson added successfully!
Total salary of all employees: $165000
The employee with the highest salary is:Jane Smith with a salary of 60000